@charset "UTF-8";
body {
  background-color: #FCFCFC;
  font-family: 'roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  color: #222;
  overflow-x: hidden;
  padding-top: 70px;
}

@media only screen and (max-width: 1120px) {
  body {
    padding-top: 56px;
  }
}

section {
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.78;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 17px;
    line-height: 1.7;
  }
}

p + p {
  margin-top: 30px;
}

.bn-block {
  text-align: center;
  margin: 80px auto 0;
}

@media only screen and (max-width: 768px) {
  .bn-block {
    margin-top: 60px;
  }
}

.bn-block a {
  color: #000;
  display: block;
}

.bn-block p {
  margin-bottom: 30px;
  font-weight: 500;
}

.bn-block .bn-img {
  width: 100%;
  height: auto;
  border: 1px solid #999;
}

.main-kv {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  background-color: #F1F2E1;
  overflow: hidden;
}

.main-kv .table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: calc(100vh - 70px);
}

@media only screen and (max-width: 768px) {
  .main-kv .table-cell {
    height: calc(100vh - 56px);
  }
}

.main-kv .title-wrap {
  z-index: 10;
  position: relative;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: start;
  margin: auto;
  background-image: url(../images/paper.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  padding: 30px 28px;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 768px) {
  .main-kv .title-wrap {
    padding: 20px 20px;
    width: 300px;
    height: 374px;
    background-size: cover;
  }
}

.main-kv .title-wrap h3 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 400;
  margin-right: 30px;
  color: #555;
}

@media only screen and (max-width: 768px) {
  .main-kv .title-wrap h3 {
    margin-right: 0px;
  }
}

.main-kv .title-wrap h1 {
  margin: 0 30px;
  font-size: 50px;
  line-height: 1.3;
  font-family: source-han-serif-tc, serif;
  letter-spacing: 2px;
}

.main-kv .title-wrap h1 span {
  -webkit-writing-mode: initial;
      -ms-writing-mode: initial;
          writing-mode: initial;
  margin-top: -9px;
}

@media only screen and (max-width: 768px) {
  .main-kv .title-wrap h1 {
    font-size: 40px;
  }
}

.main-kv .title-wrap .foreword {
  position: absolute;
  left: 28px;
}

.main-kv .title-wrap .foreword p {
  margin: 0;
  font-size: 17px;
  color: #555;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .main-kv .title-wrap .foreword p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 768px) {
  .main-kv .title-wrap .foreword {
    left: 20px;
  }
}

.main-kv .bg-wrap {
  position: absolute;
  width: 120%;
  top: -30%;
  left: -10%;
}

@media only screen and (max-width: 768px) {
  .main-kv .bg-wrap {
    top: -20%;
  }
}

.main-kv .bg-wrap .bg_animated {
  background: url(../images/bar1.png) repeat-x;
  width: 100%;
  margin: 0;
  padding-top: 362px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .main-kv .bg-wrap .bg_animated {
    background: url(../images/bar1-mb.png) repeat-x;
    padding-top: 195px;
  }
}

.main-kv .bg-wrap .bg_animated.bar2 {
  background: url(../images/bar2.png) repeat-x;
}

@media only screen and (max-width: 768px) {
  .main-kv .bg-wrap .bg_animated.bar2 {
    background: url(../images/bar2-mb.png) repeat-x;
  }
}

.main-kv .bg-wrap .bg_animated.bar3 {
  background: url(../images/bar3.png) repeat-x;
}

@media only screen and (max-width: 768px) {
  .main-kv .bg-wrap .bg_animated.bar3 {
    background: url(../images/bar3-mb.png) repeat-x;
  }
}

.main-kv .bg-wrap .bg_animated.bar4 {
  background: url(../images/bar1.png) repeat-x;
}

@media only screen and (max-width: 768px) {
  .main-kv .bg-wrap .bg_animated.bar4 {
    background: url(../images/bar4-mb.png) repeat-x;
  }
}

.main-kv .bg-wrap .bg_animated.bar1,
.main-kv .bg-wrap .bg_animated.bar3 {
  -webkit-animation: slide_b1 120s linear infinite;
  animation: slide_b1 120s linear infinite;
}

.main-kv .bg-wrap .bg_animated.bar2,
.main-kv .bg-wrap .bg_animated.bar4 {
  -webkit-animation: slide_b2 120s linear infinite;
  animation: slide_b2 120s linear infinite;
}

@-webkit-keyframes slide_b1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1230px 0;
  }
}

@-webkit-keyframes slide_b2 {
  from {
    background-position: -1230px 0;
  }
  to {
    background-position: 0 0;
  }
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .title {
    margin-bottom: 30px;
  }
}

.card-physique {
  padding: 20px;
  background-color: #F4EDE1;
  -webkit-box-shadow: 3px 3px 6px #ccc;
          box-shadow: 3px 3px 6px #ccc;
}

@media only screen and (max-width: 768px) {
  .card-physique {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
  }
}

.card-physique .physique-title {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  letter-spacing: 3px;
  font-family: source-han-serif-tc, serif;
  font-weight: 500;
  line-height: 1;
}

.card-physique .physique-img {
  display: inline-block;
  width: 172px;
  height: 220px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .card-physique .physique-img {
    height: 200px;
    margin-left: 40px;
  }
  .card-physique .physique-img img {
    height: 100%;
  }
}

.card-physique .physique-txt {
  margin-top: 26px;
  margin-bottom: 0;
}

.card-physique .physique-txt h4 {
  font-size: 16px;
  font-weight: 500;
}

.card-physique .physique-txt p {
  font-weight: 300;
  line-height: 1.5;
}

.card-physique .physique-more {
  margin-top: 20px;
  text-align: right;
}

.card-physique .physique-more::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #91989F;
  margin: 0 auto 10px;
}

.card-physique .physique-more a {
  color: #000;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}

.card-physique .physique-more a:hover {
  color: #F75C2F;
}

.card-physique .physique-more img {
  height: 18px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-physique-2 {
  background-color: #F0F0F0;
}

.card-physique-3 {
  background-color: #F4E5E1;
}

.card-physique-4 {
  background-color: #EEF1FA;
}

.seasons {
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.seasonsItem {
  text-align: center;
}

.sideNav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 36%;
  left: -100%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: left .5s ease-in;
  transition: left .5s ease-in;
}

@media only screen and (max-width: 768px) {
  .sideNav {
    width: 100%;
    top: auto;
    bottom: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 -4px 5px 0 rgba(140, 140, 140, 0.2);
            box-shadow: 0 -4px 5px 0 rgba(140, 140, 140, 0.2);
    -webkit-transform: translateY(0%);
    transform: translateY(0);
  }
}

.sideNav.active {
  left: 30px;
}

@media only screen and (max-width: 768px) {
  .sideNav.active {
    left: 0;
  }
}

.sideNav > li {
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent;
  font-size: 26px;
  font-weight: 500;
  font-family: source-han-serif-tc, serif;
}

.sideNav > li.active {
  border-color: #000;
}

.sideNav > li.active a {
  color: #000;
}

.sideNav > li:last-of-type {
  margin-bottom: 0;
}

.sideNav > li a {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 14px;
}

.sideNav > li a:hover {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .sideNav > li {
    display: inline-block;
    margin-bottom: 0;
    width: 24%;
    font-size: 20px;
  }
  .sideNav > li.active {
    border: none;
  }
  .sideNav > li.active a {
    color: #000;
  }
}

.sideNav__item {
  display: block;
  width: 30px;
  color: #bac1c9;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .sideNav__item {
    width: auto;
    margin: 10px;
  }
}

.color-spring {
  background-color: #F1F3D2;
}

.color-summer {
  background-color: #FFF3E5;
}

.color-fall {
  background-color: #EDEBFF;
}

.color-winter {
  background-color: #F2F2F2;
}

#spring .solar-op {
  background: url(../images/spring-op.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #spring .solar-op {
    background-image: url(../images/spring-op-mb.jpg);
    height: 330px;
  }
}

#summer .solar-op {
  background: url(../images/summer-op.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #summer .solar-op {
    background-image: url(../images/summer-op-mb.jpg);
    height: 330px;
  }
}

#fall .solar-op {
  background: url(../images/fall-op.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #fall .solar-op {
    background-image: url(../images/fall-op-mb.jpg);
    height: 330px;
  }
}

#winter .solar-op {
  background: url(../images/winter-op.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #winter .solar-op {
    background-image: url(../images/winter-op-mb.jpg);
    height: 330px;
  }
}

.solar-title {
  text-align: center;
  margin: 60px auto 50px;
}

.solar-title span {
  display: block;
}

@media only screen and (max-width: 768px) {
  .solar-title {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .solar-title span {
    display: inline;
  }
}

.card-adjust {
  background-color: #fff;
  padding: 25px;
  -webkit-box-shadow: 3px 3px 6px #ccc;
          box-shadow: 3px 3px 6px #ccc;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .card-adjust {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    padding: 18px 20px;
  }
}

.card-adjust .adjust-img {
  display: inline-block;
}

.card-adjust .adjust-img img {
  width: 50px;
}

.card-adjust .adjust-title {
  display: inline-block;
  font-size: 26px;
  font-family: source-han-serif-tc, serif;
  font-weight: 500;
  vertical-align: bottom;
  margin-left: 10px;
}

.card-adjust .adjust-txt {
  margin-top: 12px;
}

.solar-wrap {
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .solar-wrap {
    margin-top: 40px;
  }
}

.solar-wrap h4 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 427px;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  margin: 1rem;
  position: relative;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  text-align: left;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
  -webkit-box-shadow: 3px 3px 6px #ccc;
          box-shadow: 3px 3px 6px #ccc;
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  padding: 20px 26px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  z-index: 1;
}

.card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.front p {
  position: absolute;
  bottom: 20px;
}

.back {
  background: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  padding: 1.6em 1.6em 1em;
  font-size: 17px;
  line-height: 1.5;
  background-size: cover;
  display: table;
}

.back .button {
  background: linear-gradient(135deg, #f72f45, #F75C2F);
}

.back .button:before {
  -webkit-box-shadow: 3px 3px 6px #F75C2F;
          box-shadow: 3px 3px 6px #F75C2F;
  background-color: #F75C2F;
}

.card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card:nth-child(even) .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back .back-wrap {
  vertical-align: middle;
  display: table-cell;
}

.back .txt-wrap:nth-child(2) {
  margin-top: 10px;
}

.back .txt-wrap .txt-img {
  width: 34px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.back .txt-wrap .txt {
  width: calc(100% - 52px);
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

.back .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #F75C2F;
  margin: 12px auto;
}

.back .book-link {
  margin-top: 14px;
}

.back .book-link a {
  color: #000;
}

.back .book-link p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  color: #555;
  width: 63%;
  display: inline-block;
  vertical-align: middle;
}

.back .book-link img {
  width: 35%;
  display: inline-block;
}

.button {
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  border: none;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  margin: auto;
  letter-spacing: 2px;
}

.mobile-show-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-show-btn {
    display: block;
    letter-spacing: 2px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  #others-spring {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #others-summer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #others-fall {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #others-winter {
    display: none;
  }
}

.story-block {
  position: relative;
  width: 33.333%;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .story-block {
    width: 100%;
    padding: 10px 15px;
  }
}

.story-block:hover .story-txt {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.story-block a {
  display: block;
}

.story-block img {
  width: 100%;
  height: auto;
}

.story-txt {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  color: #fff;
  opacity: .85;
  text-align: center;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .story-txt {
    opacity: 1;
    width: calc(100% - 30px);
  }
}

.story-txt h3 {
  font-family: source-han-serif-tc, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  .story-txt h3 {
    font-size: 20px;
  }
}

.sp .sp-logo {
  width: 120px;
  height: auto;
  margin: 18px 30px;
}

@media screen and (max-width: 768px) {
  .sp .sp-logo {
    width: 100px;
    margin: 12px 20px;
  }
}

.w-full {
  width: 100%;
}

.max-w-800px {
  max-width: 800px;
}

.m-auto {
  margin: auto;
}

/* 必加 >> 跨瀏覽器強制寬度100% */
.fb_iframe_widget_fluid_desktop iframe {
  width: 100% !important;
}

.buy-block {
  padding: 100px 0;
}

.buy-block .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-block .cover img {
  width: 100%;
}

.buy-block .text {
  text-align: left;
  letter-spacing: 2px;
}

.buy-block .text h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: source-han-serif-tc, serif;
  margin-bottom: 18px;
}

.buy-block .text h5 {
  font-size: 15px;
}

.buy-block .text h5 a {
  color: #F75C2F;
  -webkit-transition: .3s;
  transition: .3s;
}

.buy-block .text h5 a img {
  margin-left: 8px;
  margin-bottom: 2px;
  height: 15px;
}

.buy-block .text h5 a:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  .buy-block {
    padding: 80px 0;
  }
  .buy-block .text {
    text-align: center;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */