
$card-primary: #F75C2F;
$shadow:#ccc;


@mixin mobile{
	@media only screen and (max-width: 768px){
		@content;
	}
}

//共用樣式 start =================================
body {
	background-color: #FCFCFC;
	font-family: 'roboto', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-style: normal;
	line-height: 1.75;
	color: #222;
	overflow-x: hidden;
	padding-top: 70px;
	@media only screen and (max-width: 1120px){
		padding-top: 56px;
	}
	
}
section {
	padding: 100px 0;
	@include mobile {
		padding: 60px 0;
	}
}
a {
	text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 30px;
    @include mobile {
      font-size: 28px;
    }
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.78;
	margin-top: 0px;
	margin-bottom: 0px;
  @include mobile {
    font-size: 17px;
    line-height: 1.7;
  }
}
p+p {
	margin-top: 30px;
}

//共用樣式 end =================================

.bn-block {
    text-align: center;
    margin: 80px auto 0;
    @include mobile {
      margin-top: 60px;
    }
    a {
        color: #000;
        display: block;
    }
    p {
        margin-bottom: 30px;
        font-weight: 500;
    }
    .bn-img {
        width: 100%;
        height: auto;
        border: 1px solid #999;
    }
    //img size:525x160
}

// op  -------------------------------
.main-kv {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    background-color: #F1F2E1;
    overflow: hidden;

  .table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: calc(100vh - 70px);
    @include mobile {
      height: calc(100vh - 56px);
    }
  }

  .title-wrap {
    z-index: 10;
    position: relative;
    writing-mode: vertical-rl;
    text-align: start;
    margin: auto;
    // display: inline-block;
    background-image: url(../images/paper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
    padding: 30px 28px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    @include mobile {
      padding: 20px 20px;
      width: 300px;
      height: 374px;
      background-size: cover;
    }

    h3 {
      margin: 0;
      font-size: 20px;
      letter-spacing: 4px;
      font-weight: 400;
      margin-right: 30px;
      color: #555;
      @include mobile {
        margin-right: 0px;
      }
    }
    h1 {
      margin: 0 30px;
      font-size: 50px;
      line-height: 1.3;
      font-family: source-han-serif-tc, serif;
      letter-spacing: 2px;
      span {
        writing-mode: initial;
        margin-top: -9px;
      }
      @include mobile {
        font-size: 40px;
        // margin: 0 20px;
      }
    }
    .foreword{
      position: absolute;
      left: 28px;
      p {
        margin: 0;
        font-size: 17px;
        color: #555;
        letter-spacing: 2px;
        @include mobile {
          font-size: 16px;
          letter-spacing: 0;
          line-height: 1.5;
        }
      }
      @include mobile {
        left: 20px;
      }
    }

  }

  .bg-wrap {
    position: absolute;
    width: 120%;
    top: -30%;
    left: -10%;
    @include mobile {
      top: -20%;
    }

    .bg_animated {
      background: url(../images/bar1.png) repeat-x;
      width: 100%;
      margin: 0;
      // height: 35%;
      padding-top: 362px;
      box-sizing: border-box;
      @include mobile {
        background: url(../images/bar1-mb.png) repeat-x;
        padding-top: 195px;
      }
    }

    .bg_animated.bar2 {
      background: url(../images/bar2.png) repeat-x;
      @include mobile {
        background: url(../images/bar2-mb.png) repeat-x;
      }
    }
    .bg_animated.bar3 {
      background: url(../images/bar3.png) repeat-x;
      @include mobile {
        background: url(../images/bar3-mb.png) repeat-x;
      }
    }
    .bg_animated.bar4 {
      background: url(../images/bar1.png) repeat-x;
      @include mobile {
        background: url(../images/bar4-mb.png) repeat-x;
      }
    }
    
    .bg_animated.bar1,
    .bg_animated.bar3 {
        -webkit-animation: slide_b1 120s linear infinite;
            animation: slide_b1 120s linear infinite;
    }
    .bg_animated.bar2,
    .bg_animated.bar4 {
        -webkit-animation: slide_b2 120s linear infinite;
        animation: slide_b2 120s linear infinite;
    }

    @-webkit-keyframes slide_b1 {
        from {
        background-position: 0 0;}
        to {
        background-position: -1230px 0; }
    }
    @-webkit-keyframes slide_b2 {
        from {
        background-position: -1230px 0;}
        to {
        background-position: 0 0; }
    }

  }

}


//s1 bodytype  -------------------------------
.title {
    text-align: center;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 30px;
    }
    h1 {
        font-weight: 500;
    }
}
//體質卡 start
.card-physique {
    padding: 20px;
    background-color: #F4EDE1;
    box-shadow: 3px 3px 6px $shadow;
    @include mobile {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 25px;
    }
    .physique-title {
        writing-mode: vertical-lr;
        display: inline-block;
        vertical-align: top;
        font-size: 26px;
        letter-spacing: 3px;
        font-family: source-han-serif-tc, serif;
        font-weight: 500;
        line-height: 1;
    }
    .physique-img {
        display: inline-block;
        width: 172px;
        height: 220px;
        margin-left: 10px;
        @include mobile {
          height: 200px;
          margin-left: 40px;
          img {
            height: 100%;
          }
        }
    }
    .physique-txt {
        margin-top: 26px;
        margin-bottom: 0;
        h4 {
            font-size: 16px;
            font-weight: 500;
        }
        p {
            font-weight: 300;
            line-height: 1.5;
        }
    }
    .physique-more {
        margin-top: 20px;
        text-align: right;
        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #91989F;
            margin: 0 auto 10px;
        }
        a {
            color: #000;
            font-weight: 500;
            transition: .3s;
            &:hover {
              color: $card-primary;
            }
        }
        img {
           height: 18px;
           margin-left: 10px;
           margin-bottom: 5px;
        }
    }
}
.card-physique-2 {
    background-color: #F0F0F0;
}
.card-physique-3 {
    background-color: #F4E5E1;
}
.card-physique-4 {
    background-color: #EEF1FA;
}
//體質卡 end

//節氣 start

//左 side nav ＆season background color ------------------------
.seasons {
	-moz-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}
.seasonsItem {
	text-align: center;
	// padding: 100px 0;
}
.sideNav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 36%;
	left: -100%;
  z-index: 10;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	-moz-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    -webkit-transition: left .5s ease-in;
    transition: left .5s ease-in;	

    @include mobile {
      width: 100%;
      top: auto;
      bottom: 0;
      background-color: #fff;
      box-shadow: 0 -4px 5px 0 rgba(140,140,140,0.2);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

	&.active {
		left: 30px;
    @include mobile {
      left: 0;
    }
	}	
	& > li {
		margin-bottom: 10px;
		border-width: 1px;
		border-style: solid;
		border-radius: 50%;
		border-color: transparent;
    font-size: 26px;
    font-weight: 500;
    font-family: source-han-serif-tc, serif;
    
		&.active {
			border-color: #000;
      & a {
        color: #000;
      }
		}
		&:last-of-type {
			margin-bottom: 0;
		}

    a { 
      transition: .3s;
      margin: 14px;
      &:hover {
        color: #000;
        transition: .3s;
      }
    }

    @include mobile {
      display: inline-block;
      margin-bottom: 0;
      width: 24%;
      font-size: 20px;
      &.active {
        
        border:none;
        a {
          color: #000;
        }
        
      }
    }

	}
	
	&__item {
		display: block;
		width: 30px;
		color: #bac1c9;
		text-decoration: none;
		height: 30px;
		line-height: 30px;
		text-align: center;
    @include mobile {
      width: auto;
      margin: 10px;
    }
	}
}

.color {
	&-spring {
		background-color: #F1F3D2;
	}
	&-summer {
		background-color: #FFF3E5;
	}
	&-fall {
		background-color: #EDEBFF;
	}
	&-winter {
		background-color: #F2F2F2;
	}
}

// seasons -------------------------------
#spring {
    .solar-op {
        background-image: url(../images/spring-op.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
        @include mobile {
          background-image: url(../images/spring-op-mb.jpg);
          height: 330px;
        }
    }
}
#summer {
  .solar-op {
      background-image: url(../images/summer-op.jpg);
      background-size: cover;
      width: 100%;
      height: 300px;
      @include mobile {
        background-image: url(../images/summer-op-mb.jpg);
        height: 330px;
      }
  }
}
#fall {
  .solar-op {
      background-image: url(../images/fall-op.jpg);
      background-size: cover;
      width: 100%;
      height: 300px;
      @include mobile {
        background-image: url(../images/fall-op-mb.jpg);
        height: 330px;
      }
  }
}
#winter {
  .solar-op {
      background-image: url(../images/winter-op.jpg);
      background-size: cover;
      width: 100%;
      height: 300px;
      @include mobile {
        background-image: url(../images/winter-op-mb.jpg);
        height: 330px;
      }
  }
}

.solar-title {
  text-align: center;
  margin: 60px auto 50px;
  span {
    display: block;
  }
  @include mobile {
    margin-top: 50px;
    margin-bottom: 40px;
    p {
      text-align: left;
    }
    span {
      display: inline;
    }
  }
}
//調養卡
.card-adjust {
    background-color: #fff;
    padding: 25px;
    box-shadow: 3px 3px 6px $shadow;
    text-align: left;
    @include mobile {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 25px;
      padding: 18px 20px;
    }
    .adjust-img {
        display: inline-block;
        img {
            width: 50px;
        }
    }
    .adjust-title {
        display: inline-block;
        font-size: 26px;
        font-family: source-han-serif-tc, serif;
        font-weight: 500;
        vertical-align: bottom;
        margin-left: 10px;
    }
    .adjust-txt {
        margin-top: 12px;
    }
}

//節氣卡
.solar-wrap {
    margin-top: 80px;
    @include mobile {
      margin-top: 40px;
    }
    h4 {
        text-align: center;
        font-size: 26px;
        font-weight: 500;
    }
}
*, *:before, *:after {
  box-sizing: border-box;
}

@mixin mobile ($size: 768px) {
  @media screen and (max-width: $size) {
    @content;
  }
}
.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 427px;
//   min-height: 400px;
  perspective: 1500px; //透視
  margin: 1rem;
  position: relative;
  @include mobile (800px) {
    width: calc(50% - 2rem);
  }
  @include mobile (500px) {
    width: 100%;
  }
}

.front,
.back {
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  text-align: left;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  // overflow: hidden;
  box-shadow: 3px 3px 6px $shadow;
}

.front {
  display: flex;
  background-size: cover;
  // background-blend-mode: overlay;
  padding: 20px 26px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  align-items: end;
  z-index: 1;
  .card:hover & {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 1.6em 1.6em 1em;
  // align-items: center;
  font-size: 17px;
  line-height: 1.5;
  background-size: cover;
  display: table;
  
  .button {
    background: linear-gradient(135deg, adjust-hue($card-primary, -20deg), $card-primary);
    
    &:before {
      box-shadow: 3px 3px 6px $card-primary;
      background-color: $card-primary;
    }
  }
  .card:hover & {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) & {
    transform: rotateY(180deg);
    // .button {
    //     background: linear-gradient(135deg, adjust-hue($shadow, -20deg), $shadow);
    //     &:before {
    //     box-shadow: 0 0 10px 10px rgba($shadow, 0.25);
    //     background-color: rgba($shadow, 0.25);
    //     }
    // }
  }
  .card:nth-child(even):hover & {
    transform: rotateY(0deg);
  }

  .back-wrap{
      vertical-align: middle;
      display: table-cell;
  }
  .txt-wrap {
    &:nth-child(2) {
      margin-top: 10px;
    }
    .txt-img {
      width: 34px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }
    .txt {
      width: calc(100% - 52px);
      display: inline-block;
      font-weight: 300;
      font-size: 17px;
      line-height: 1.5;
    }
  }
  .read-more {
    display: flex;
  }
  h4 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $card-primary;
    margin: 12px auto;
  }
  .book-link {
    max-height: 120px;
    overflow: hidden;
    margin-top: 14px;
    a {
      color: #000;
    }
    p {
      font-weight: 300;
      line-height: 1.5;
      font-size: 16px;
      color: #555;
      width: 63%;
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 35%;
      display: inline-block;
    }
  }
}

.button {
  $height: 40px;
  transform: translateZ($height);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
  margin: auto;
  letter-spacing: 2px;
}
//節氣卡 end

.mobile-show-btn {
  display: none;
  @include mobile {
		display: block;
    letter-spacing: 2px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-top: 10px;
	}
}
#others-spring {
  @include mobile {
    display: none;
  }
}
#others-summer {
  @include mobile {
    display: none;
  }
}
#others-fall{
  @include mobile {
    display: none;
  }
}
#others-winter {
  @include mobile {
    display: none;
  }
}

// cerebrity -------------------------------
.story-block {
  position: relative;
  width: 33.333%;
  display: inline-block;
  @include mobile {
    width: 100%;
    padding: 10px 15px;
  }
  &:hover {
    .story-txt {
      opacity: 1;
      transition: .3s;
    }
  }
  a {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.story-txt {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  color: #fff;
  opacity: .85;
  text-align: center;
  width: 100%;
  transition: .3s;
  @include mobile {
    opacity: 1;
    width: calc(100% - 30px);
  }
  h3 {
    font-family: source-han-serif-tc, serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 6px;
    @include mobile {
      font-size: 20px;
    }
  }
}


// sponsor -------------------------------
.sp{
  .sp-logo {
    width: 120px;
    height: auto;
    // min-height: 50px;
    margin: 18px 30px;
    @include mobile {
      width: 100px;
      margin: 12px 20px;
    }
  }
}


// facebook -------------------------------
// .container {
//   max-width: 1280px;
// }
.w-full {
  width: 100%;
}
.max-w-800px {
  max-width: 800px;
}
.m-auto {
  margin: auto;
}

/* 必加 >> 跨瀏覽器強制寬度100% */
.fb_iframe_widget_fluid_desktop iframe {
  width: 100% !important;
}

